.form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form > div {
    display: flex;
    justify-content: space-between;
}

.form label {
    font-weight: 500;
    font-size: clamp(1rem,1.5vw,2rem);
}

.form textarea {
    width: 65%;
    height: 5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--gray-300);
    border-radius: 4.6px;
    font-family: 'DM Sans';
}

.input-section {
    width: 65%;
}
.form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--gray-300);
    border-radius: 4.6px;
}

.select-section {
    width: 65%;
}

.form select {
    width: 100px;
    margin-right: auto;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4.6px;
    border: 2px solid var(--gray-300);
}

.form textarea {
    width: 100%;
}


.footer {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.footer button{
    width: 140px;
    height: 40px;
    font-weight: 600;
    border-radius: 6.5px;
    cursor: pointer;
}

.cancel {
    background: transparent;
    border: 1px solid var(--gray-400);
    color: var(--gray-300);
}

.add {
    border: 1px solid var(--red-500);
    background-color: var(--red-500);
    color: white;
}

.cancel:hover {
    background-color: var(--gray-300);
    color: white;
}

.add:hover {
    background-color: var(--red-700);
}

.error {
    margin: 0;
    margin-top: 0.5rem;
    color: var(--red-700);
}


@media screen and (min-width: 800px) {
    .form {
        width: 90%;
    }

    .footer {
        width: 95%;
    }
}
