.create-job {
    display: flex;
    min-height: 100dvh;
}

.left-section {
    padding: 2rem 4rem;
    width: 100%;
}



.right-section {
    width: 70%;
    display: none;
    justify-content: center;
    color: white;
    background-image: url('./../assets/bg2.png');
}



@media screen and (min-width: 800px) {
    .right-section {
        display: flex;
    }

}