.create-job {
    display: flex;
    min-height: 100dvh;
}

.left-section {
    padding: 2rem 4rem;
    width: 100%;
}



.right-section {
    width: 70%;
    display: none;
    justify-content: center;
    color: white;
    background-image: url('./../assets/bg2.png');
}

.footer {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.footer button{
    width: 140px;
    height: 40px;
    font-weight: 600;
    border-radius: 6.5px;
    cursor: pointer;
}

.cancel {
    background: transparent;
    border: 1px solid var(--gray-400);
    color: var(--gray-300);
}

.add {
    border: 1px solid var(--red-500);
    background-color: var(--red-500);
    color: white;
}

.cancel:hover {
    background-color: var(--gray-300);
    color: white;
}

.add:hover {
    background-color: var(--red-700);
}



@media screen and (min-width: 800px) {
    .right-section {
        display: flex;
    }

    .footer {
        width: 90%;
    }
}